{% extends 'base.html' %}

{% block content  %}
    <h1>About the Turtle Ticketing</h1>
    <hr>
    <p>This is the ticketing system used for tracking action items after meeting. Allowing user to create, update and sharing ticketing information.</p>
    <h3>View all tickets </h3>
    <p>Allows people check and see all opening tickets and click to see ticket details </p>
    <h3>Add a ticket </h3>
    <p>Allows people to create a new ticket</p>
    <h3>Add a member </h3>
    <p>Allows people to create a new member into system for adding to ticket </p>
    <h3>View all members</h3>
    <p>Allows people to view all members </p>
    <h3>ticket detail </h3>
    <p>While click ticket board, you can check and see ticket creation time and people who follow up. People can also put ticket content inside </p>
    <p>It also support photo attach to ticket, update and delete ticket functions</p>
    
    
    
    
    
    
    
    
    <footer>All Rights Reserved, &copy; 2024 Chaozheng Zhu</footer>
{% endblock content %}
